environment.sh
deploy
.compmake_history.txt
out-compmake-tests
src/memos
.apdisk
out
workspace/1406-heli/tmp-andrea
out-*
.coverage
.nfs*
src/diffeoplan
src/deps_display
src/nmcon
deploy3
.settings
.noseids
src/videolang
test*html*
src/multyvac-0.4.3
src/multyvac-0.4.9
src/multyvac-0.4.9.tar.gz
./compmake.rc
./config.mk
./config.mk
./compmake.rc
initialize_environment.sh
.ipynb_checkpoints
